@use "../constant/mixin";

@mixin container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: mixin.rem(16);
    padding-right: mixin.rem(16);
}

.container {
    @include container;
    max-width: 1440px;

    &-slim {
        @include container;
        max-width: 1024px;
    }

    &-fluid {
        @include container;
    }
}

.layout {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 80px minmax(0, 1fr) auto;
    grid-template-areas: "header" "main" "footer";
    min-height: 100%;
    @include mixin.background(var(--background-color));
    @include mixin.trans(all);

    header {
        grid-area: header;
    }

    main {
        position: relative;
        grid-area: main;
    }

    footer {
        position: relative;
        grid-area: footer;
    }
}

.layout-sidebar {
    position: relative;
    display: grid;
    grid-template-columns: 240px minmax(0, 1fr);
    grid-template-rows: auto minmax(0, 1fr) auto;
    grid-template-areas: "header header" "sidebar main" "footer footer";
    min-height: 100%;
    @include mixin.background(var(--background-color));
    @include mixin.trans(all);

    .sidebar {
        grid-area: sidebar;
    }

    header {
        position: relative;
        grid-area: header;
    }

    main {
        position: relative;
        grid-area: main;
    }

    footer {
        position: relative;
        grid-area: footer;
    }
}
