@font-face {
    font-family: "Open Sans";
    src: url("/font/open-sans/OpenSans-Bold.eot");
    src: url("/font/open-sans/OpenSans-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("/font/open-sans/OpenSans-Bold.woff") format("woff"),
        url("/font/open-sans/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: "Open Sans";
    src: url("/font/open-sans/OpenSans-Light.eot");
    src: url("/font/open-sans/OpenSans-Light.eot?#iefix")
            format("embedded-opentype"),
        url("/font/open-sans/OpenSans-Light.woff") format("woff"),
        url("/font/open-sans/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: "Open Sans";
    src: url("/font/open-sans/OpenSans-Medium.eot");
    src: url("/font/open-sans/OpenSans-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("/font/open-sans/OpenSans-Medium.woff") format("woff"),
        url("/font/open-sans/OpenSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: "Open Sans";
    src: url("/font/open-sans/OpenSans-Regular.eot");
    src: url("/font/open-sans/OpenSans-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("/font/open-sans/OpenSans-Regular.woff") format("woff"),
        url("/font/open-sans/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: "Quicksand";
    src: url("/font/quicksand/Quicksand-Bold.eot");
    src: url("/font/quicksand/Quicksand-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("/font/quicksand/Quicksand-Bold.woff") format("woff"),
        url("/font/quicksand/Quicksand-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: "Quicksand";
    src: url("/font/quicksand/Quicksand-Medium.eot");
    src: url("/font/quicksand/Quicksand-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("/font/quicksand/Quicksand-Medium.woff") format("woff"),
        url("/font/quicksand/Quicksand-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: "Quicksand";
    src: url("/font/quicksand/Quicksand-Light.eot");
    src: url("/font/quicksand/Quicksand-Light.eot?#iefix")
            format("embedded-opentype"),
        url("/font/quicksand/Quicksand-Light.woff") format("woff"),
        url("/font/quicksand/Quicksand-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: "Quicksand";
    src: url("/font/quicksand/Quicksand-Regular.eot");
    src: url("/font/quicksand/Quicksand-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("/font/quicksand/Quicksand-Regular.woff") format("woff"),
        url("/font/quicksand/Quicksand-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}
