@use "sass:string";
@use "var";

@use "sass:math";
@use "sass:meta";
@use "sass:color";

@mixin pseudo($display: block, $pos: absolute, $content: "") {
    content: $content;
    display: $display;
    position: $pos;
}

@mixin responsive-ratio($x, $y, $pseudo: true) {
    $padding: string.unquote(math.div($y, $x) * 100 + "%");

    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);

            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
}

@mixin responsive-padding($x, $y, $pseudo: true) {
    $padding: string.unquote(math.div($y, $x) * (100 * 0.5) + "%");

    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);

            width: 100%;
            padding-top: $padding;
        }

        &:after {
            @include pseudo($pos: relative);

            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
}

@mixin media($media) {
    @if $media == xs-dn {
        @media (var.$max: var.$xs) {
            @content;
        }
    } @else if $media == xs-up {
        @media (var.$min: calc(var.$xs + 1px)) {
            @content;
        }
    } @else if $media == sm-dn {
        @media (var.$max: var.$sm) {
            @content;
        }
    } @else if $media == sm-up {
        @media (var.$min: calc(var.$sm + 1px)) {
            @content;
        }
    } @else if $media == md-dn {
        @media (var.$max: var.$md) {
            @content;
        }
    } @else if $media == md-up {
        @media (var.$min: calc(var.$md + 1px)) {
            @content;
        }
    } @else if $media == dp-dn {
        @media (var.$max: var.$dp) {
            @content;
        }
    } @else if $media == dp-up {
        @media (var.$min: calc(var.$dp + 1px)) {
            @content;
        }
    } @else if $media == hd-dn {
        @media (var.$max: var.$hd) {
            @content;
        }
    } @else if $media == hd-up {
        @media (var.$min: calc(var.$hd + 1px)) {
            @content;
        }
    } @else if $media == xs-sm {
        @media (var.$max: var.$sm) and (var.$min: var.$xs) {
            @content;
        }
    } @else if $media == xs-md {
        @media (var.$max: var.$md) and (var.$min: var.$xs) {
            @content;
        }
    } @else if $media == xs-dp {
        @media (var.$max: var.$dp) and (var.$min: var.$xs) {
            @content;
        }
    } @else if $media == xs-hd {
        @media (var.$max: var.$hd) and (var.$min: var.$xs) {
            @content;
        }
    } @else if $media == sm-md {
        @media (var.$max: var.$md) and (var.$min: var.$sm) {
            @content;
        }
    } @else if $media == sm-dp {
        @media (var.$max: var.$dp) and (var.$min: var.$sm) {
            @content;
        }
    } @else if $media == sm-hd {
        @media (var.$max: var.$hd) and (var.$min: var.$sm) {
            @content;
        }
    } @else if $media == md-dp {
        @media (var.$max: var.$dp) and (var.$min: var.$md) {
            @content;
        }
    } @else if $media == md-hd {
        @media (var.$max: var.$hd) and (var.$min: var.$md) {
            @content;
        }
    } @else if $media == dp-hd {
        @media (var.$max: var.$hd) and (var.$min: var.$dp) {
            @content;
        }
    }
}

@mixin clearfix {
    &:after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin z($num) {
    z-index: $num;
}

@mixin trans($property...) {
    transition-property: $property;
}

$browser-context: 16;

@function em($pixels, $context: $browser-context) {
    @return #{math.div($pixels, $context)}em;
}

@function rem($pixels, $context: $browser-context) {
    @return #{math.div($pixels, $context)}rem;
}

@mixin width($width, $containerWidth) {
    width: #{math.div($width, $containerWidth) * 100%};
}

@mixin ellipsis($width: 100%, $display: inline-block) {
    display: $display;
    max-width: $width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

@mixin hideText {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
}

@mixin background($color, $opacity: 1) {
    background-color: rgba($color, $opacity);
}

@mixin color($color, $opacity: 1) {
    color: rgba($color, $opacity);
}

@mixin border($color, $opacity: 1) {
    border-color: rgba($color, $opacity);
}

@mixin button-mixed($bg, $c, $b, $o: 1) {
    @include background($bg, $o);
    @include color($c, $o);
    @include border($b, $o);
}

@mixin button($c1, $c2, $o: 1) {
    @include background($c1, $o);
    @include color($c2, $o);
    @include border($c1, $o);
}

@mixin background-property(
    $repeat: no-repeat,
    $size: cover,
    $position: center
) {
    background-repeat: $repeat;
    background-size: $size;
    background-position: $position;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        box-shadow: inset $top $left $blur $color;
    } @else {
        box-shadow: $top $left $blur $color;
    }
}

@mixin rounded($radius: 0.5em) {
    border-radius: $radius;
}

@mixin gradient($color, $white: false, $deg: 145deg, $opacity: 1) {
    @if $white {
        background-color: rgba($color, $opacity);
        background-image: linear-gradient(
            $deg,
            rgba($white, 0),
            rgba($white, 0.25)
        );
    } @else {
        background-color: rgba($color, $opacity);
        background-image: linear-gradient(
            $deg,
            rgba(var.$black, 0),
            rgba(var.$black, 0.25)
        );
    }
}

@mixin weight($weight) {
    font-weight: $weight;
}

@mixin flex($axis, $flow: nowrap) {
    display: flex;
    flex-flow: $axis $flow;
    flex-direction: $axis;
}

@function rand($min, $max) {
    @return string.unquote($min + math.floor(math.random() * (($max - $min) + 1)) + "%");
}

@mixin neustyle(
    $color,
    $hover: false,
    $direction: topleft,
    $inset: false,
    $distance: 2px
) {
    $v: 2px;

    @if $distance {
        $v: $distance;
    }

    $topX: ($v * 2 * -1);
    $topY: ($v * 2 * -1);

    @if $direction == "topcenter" {
        $topX: 0px;
        $topY: ($v * 2 * -1);
    }
    @if $direction == "topright" {
        $topX: ($v * 2);
        $topY: ($v * 2 * -1);
    }

    $out: $topX $topY ($v * 3) rgba(#fff, 0.7),
        $topX * -1 $topY * -1 ($v * 3) color.adjust($color, $lightness: -12),
        inset $topX $topY ($v * 6) rgba(#fff, 0.1),
        inset $topX * -1 $topY * -1 ($v * 6) color.adjust($color, $lightness: -0);

    $in: $topX $topY ($v * 5) rgba(#fff, 0.2),
        $topX * -1 $topY * -1 ($v * 3) color.adjust($color, $lightness: -0),
        inset $topX $topY ($v * 6) rgba(#fff, 0.6),
        inset math.div($topX, 2) math.div($topY, 2) ($v) rgba(#fff, 0.2),
        inset $topX * -1 $topY * -1 ($v * 3) color.adjust($color, $lightness: -10);

    @if $inset {
        box-shadow: $in;
    } @else {
        box-shadow: $out;
    }

    @if $hover {
        &:hover {
            @if $inset {
                box-shadow: $out;
            } @else {
                box-shadow: $in;
            }
        }
    }
}
