:root {
    --black: #{$black};
    --white: #{$white};
    --dark: #{$dark};
    --light: #{$light};
    --primary: #{$primary};
    --success: #{$success};
    --info: #{$info};
    --danger: #{$danger};
    --warning: #{$warning};
}