@use "var";

:root {
    --black: #{var.$black};
    --white: #{var.$white};
    --dark: #{var.$dark};
    --light: #{var.$light};
    --primary: #{var.$primary};
    --success: #{var.$success};
    --info: #{var.$info};
    --danger: #{var.$danger};
    --warning: #{var.$warning};
}