//- Media Query
$min: min-width;
$max: max-width;

//- Media Breakdown
$xs: 480px;
$sm: 640px;
$md: 800px;
$dp: 1024px;
$hd: 1200px;
$hdr: 1440px;

//- Font
$sans-serif: sans-serif;
$fallback: Arial, Helvetica;

$openSans: "OpenSans", $fallback, $sans-serif;

//- Font Weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;

//- Base Color
$black: #000000;
$white: #ffffff;
$light: #f5f5f5;
$dark: #363636;

//- Flat Colour
$primary: #00d1b2;
$link: #485fc7;
$info: #3e8ed0;
$success: #48c78e;
$warning: #ffe08a;
$danger: #f14668;

$primary-light: #ebfffc;
$link-light: #eff1fa;
$info-light: #eff5fb;
$success-light: #effaf5;
$warning-light: #fffaeb;
$danger-light: #feecf0;

$primary-dark: #00c4a7;
$link-dark: #3e56c4;
$info-dark: #3488ce;
$success-dark: #3ec487;
$warning-dark: #ffdc7d;
$danger-dark: #f03a5f;