@use "constant/var";
@use "theme/mixin";

.theme-system {
    color-scheme: light;
    @include mixin.theme(var.$light, var.$dark, var.$dark, 0);

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
        @include mixin.theme(var.$dark, var.$light, var.$white, 100);
    }
}

.theme-dark {
    color-scheme: dark;
    @include mixin.theme(var.$dark, var.$light, var.$white, 100);
}

.theme-light {
    color-scheme: light;
    @include mixin.theme(var.$light, var.$dark, var.$dark, 0);
}